

.playNew {
    color: black;
    font-size: 40px;
}

.imgNew img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.rowTextNew {
    font-weight: 600;
}

.epNew {
    color: #4b4e51;
    font-weight: 400;
}